<html>
    <body>
        <form action="/produtos/salva" method="POST">
            <div>
                <label for="titulo">Título</label>
                <input type="text" name="titulo" placeholder="informe o título">
            </div>
            <div>
                <label for="preco">Preço</label>
                <input type="text" name="preco" placeholder="150.00">
            </div>
            <div>
                <label for="descricao">Descrição</label>
                <textarea rows="10" cols="20" name="descricao" placeholder="fale sobre o livro"></textarea>
            </div>
            <input type="submit" value="Gravar" />
        </form>
    </body>
</html>