<!DOCTYPE html>

<html>

<body>
    <h1>Listagem de produto</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>10</td>
                <td>Nodejs</td>
            </tr>
        </tbody>
    </table>
</body>

</html>